/* Write your CSS code here */
.login-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}
.website_logo_img {
  width: 40%;
}

.login-form-div {
  padding: 10px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  cursor: pointer;
  display: inline-block;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.website_logo {
  width: 100px;
  padding: 20px;
}

.label {
  font-weight: bold;
  color: #475569;
  padding-bottom: 10px;
  font-size: 15px;
}

#username,
#password {
  background-color: #d7dfe9;
  padding: 10px;
  border: none;
  outline: none;
  width: 200px;
  border-radius: 2px;
}

.submit {
  background-color: #0967d2;
  width: 220px;
  border-radius: 5px;
  border: none;
  height: 35px;
  padding: 10px;
  margin: 10px;
  color: white;
}

.input_container {
  margin: 10px;
}

.errorMsg {
  color: red;
  font-size: 10px;
  padding-top: 3px;
}
